/* -= Imports =- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


/* -= General =- */
@theme {
    --color-primary: #000;
    --color-secondary: #4b5563;
    --color-tertiary: #9CA3AF;
    --color-neutral: #F3F4F6;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#root {
    height: 100%;
}
